body {
  background: #9ACE63;
background: -moz-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: -webkit-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: linear-gradient(to right, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}
h3{
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: #FFFFFF;
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
    font-size: 15px;
    margin: 2%;
}

nav{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}
nav a{
  color: #FFFFFF;
text-decoration: none;
font-family: "Major Mono Display", monospace;
font-size: 20px;
text-align: center;
}
nav a:hover{
  color: coral;
}
header{
background: #303030;
}



p {
  background-color: black;
}


div {
  text margin: 0px;
}

td {
  border-color: black;
}

p {
  background-color: black;
}
table, td, th {
  border: 1px solid white;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  line-height: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 800px;
}

.container {
align-items: center;
}

.containerv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnv2 {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Red {
  background-color: #ed3b3b;
  color: transparent;
}

.Yellow {
  background-color: #f5ef38;
  color: transparent;
}

.first {
  border: 1px solid;
  font-size: 46px;
  height: 90px;
  line-height: 100px;
  user-select: none;
  width: 110px;
  margin: 5%;
  border-radius: 50%;
  color: white;
}

.first:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

#board {
  background-color: #348ceb;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;
border-radius: 20px;
}

#yellowFirst {
  background-color: #f5ef38;
}

#redFirst {
  background-color: #ed3b3b;
}


#reset-button {
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
padding-left: 350px;
padding-right: 400px;
}

#reset-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}


#turn {
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: #FFFFFF;
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
    font-size: 30px;
    margin: 2%;
}
