body {
  background: #9ACE63;
background: -moz-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: -webkit-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: linear-gradient(to right, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
  text-align: center;

}

h1{
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: #FFFFFF;
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
    font-size: 48px;
    margin: 2%;
}
llllll
nav{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}
nav a{
  color: #FFFFFF;
text-decoration: none;
font-family: "Major Mono Display", monospace;
font-size: 20px;
text-align: center;
}
nav a:hover{
  color: coral;
}
header{
background: #303030;
}
