body {
  background: #9ACE63;
background: -moz-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: -webkit-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
background: linear-gradient(to right, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

h2 {
color:white;
  font-size: 45px;
  font-weight: lighter;
  margin: 2%;
  padding-top: -25;
}

p{
  color:white;
    font-size: 20px;
    font-weight: lighter;
    margin: 2%;
    padding-bottom: -70;
}
img{
  border-radius: 10px;
  border: 3px solid white;
}
.container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {

  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background: black;
  cursor: pointer;
}

#reset-button {
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 20px;
}

.menu:hover {
  pointer-events: all;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  padding-right: 60px;
}

.spacer {
  display: inline-block;
  width: 100px;
  margin-left: 0px;
  margin-right: 60px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
  color: coral;
}

span {
  transition: color 0.5s ease;
}



.btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 200px;
    font-family: "Major Mono Display", monospace;
    font-size: 35px;
    border-radius: 15px;
}

.btn3d:hover{
  cursor: pointer;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
}

.btn3d:active,
.btn3d.active {
    top: 2px;
}

.btn3d.btn-default {
    color: white;
    box-shadow: 0 0 0 1px #404040 inset, 0 0 0 2px #404040 inset, 0 8px 0 0 #404040, 0 8px 8px 1px #404040;
    background-color:   background: #9ACE63;
    background: -moz-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
    background: -webkit-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
    background: linear-gradient(to right, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);;
}

.btn3d.btn-default:active,
.btn3d.btn-default.active {
    color: white;
    box-shadow: 0 0 0 1px #404040 inset, 0 0 0 1px #404040 inset, 0 1px 3px 1px #404040;
    background-color:   background: #9ACE63;
    background: -moz-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
    background: -webkit-linear-gradient(left, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);
    background: linear-gradient(to right, #9ACE63 0%, #52A483 50%, #1CA3C5 100%);;
}


.container {
  display: flex;           /* set our display property to use flex-box */
  justify-content: center; /* center container horizontally */
  align-items: center;     /* center content vertically */
  padding-top: 50px;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column; /* align children in columns instead of rows */
}

#row {
  flex-direction: row;
}
